body {
  margin: 0 auto;
  max-width: 1100px;
  min-width: 1100px;
  min-height: 100vh;
}

.header {
  display: flex;
  align-items: center;
  padding-top: 96px;
  padding-bottom: 87px;
}

.address {
  order: 3;
  flex-direction: column;
  font-size: 18px;
  font-weight: 400;
  line-height: 24.6px;
  width: 240px;
  list-style: none;
  font-family: "Raleway", sans-serif;
  font-style: normal;
  margin-right: 50px;
  transform: translateY(-3px);
}

.address__link {
  text-decoration: underline;
  width: 130px;
  text-decoration-thickness: 0.5px;
  text-underline-offset: 4px;
}

.logo-center {
  order: 2;
  margin-left: auto;
  margin-right: auto;
  transform: translate(-62%, -4%);
  width: 136px;
}


.nav-left ul {
  display: flex;
  padding: 0;
  margin: 0;
  list-style: circle;
  gap: 5.3px;
}

.nav-left li {
  margin-right: 20px;
}

.nav-left {
  order: 1;
  gap: 29.3px;
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-size: 18px;
  font-weight: 400;
  margin-left: 50px;
  padding-bottom: 5px;
  transform: translateY(-6px);
  text-decoration-thickness: 0.5px;
  text-underline-offset: 4px;
}

.header__link_active {
  font-weight: 400;
  font-size: 18px;
  color: #000;
  padding-right: 7px;
}

.header__link {
  font-weight: 400;
  font-size: 18px;
  color: #000;
  padding-right: 7px;
  text-decoration: underline;
}

.nav-left li.no-marker {
  list-style: none;
}

.cover {
  position: relative;
  margin-bottom: 100px;
  min-height: 757px;
  min-width: 1100px;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url(../images/cover.jpg);
  overflow-x: auto;
}

.overlay {
  position: absolute;
  top: 0px;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 0;
}

.cover_description {
  transform: translate(50px, 658px);
  bottom: 48px;
  left: 50px;
  right: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-transform: uppercase;
  width: 1000px;
  height: 51px;
  color: #fff;
}

.cover_description_text {
  color: #fff;
  font-size: 22px;
  bottom: 0;
  padding-left: 1px;
  word-spacing: 18px;
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  line-height: 127%;
  z-index: 1;
}

.cover-title {
  position: absolute;
  color: #fff;
  z-index: 1;
  width: 1000px;
  height: 385px;
  top: 165px;
  right: 50px;
}

.aligned-text_left {
  position: right;
  top: 0px;
  left: 0px;
  font-family: "Raleway", sans-serif;
  font-size: 100px;
  text-transform: uppercase;
  letter-spacing: 0.3em;
  line-height: 115%;
  font-weight: 700;
}

.aligned-text_center {
  position: center;
  top: 195px;
  left: 522px;
  font-size: 100px;
  transform: translate(10px, 136px);
  text-transform: uppercase;
  font-family: "Raleway", sans-serif;
  letter-spacing: 0.3em;
  line-height: 115%;
  font-weight: 700;
  text-align: center;
}

.last-letter {
  display: inline-block;
  transform: translateX(-1px);
}

.aligned-text_right {
  position: right;
  transform: translate(614px, 156px);
  left: 613px;
  font-size: 100px;
  text-transform: uppercase;
  font-family: "Raleway", sans-serif;
  letter-spacing: 0.3em;
  line-height: 115%;
  font-weight: 600;
}

.aligned-text {
  display: inline-block;
}

.cover-button {
  bottom: 1px;
  right: 1px;
  font-family: "Raleway", sans-serif;
  font-weight: 500;
  font-size: 22px;
  text-transform: uppercase;
  text-align: center;
  color: #ffffff;
  z-index: 1;
  background-color: transparent;
  border: 1px solid rgb(255, 255, 255);
  width: 256px;
  min-height: 51px;
  cursor: pointer;
}

.lots {
  padding-top: 87px;
  padding-left: 3px;
}

.lots_card-list {
  padding: 0 20px;
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
  list-style: none;
}

.lots_card-list-item {
  flex: 1 1 calc(33.333% - 20px);
  box-sizing: border-box;
}

.card {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  overflow-x: auto;
}

.image-container {
  height: 596px;
  position: relative;
}

.image-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: flex;
}

.card_text {
  font-weight: 400;
  font-size: 20px;
  line-height: 120%;
  color: #fff;
  height: 170px;
  width: 260px;
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  transform: translate(-2px, 269px);
  font-family: "Raleway", sans-serif;
  letter-spacing: 0.2px;
  padding-left: 40px;
}

.card_title {
  display: flex;
  font-weight: 700;
  font-size: 22px;
  line-height: 120%;
  text-transform: uppercase;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: #fff;
  width: 254px;
  height: 110px;
  top: 50px;
  padding-left: 40px;
  transform: translateY(49px);
  font-family: "Raleway", sans-serif;
}

.card_type_film_fon {
  background-image: url(../images/card-lot-01.jpg);
  background-size: cover;
}

.card_type_book_fon {
  background-image: url(../images/card-lot-02.jpg);
  background-size: cover;
}

.card_type_picture_fon {
  background-image: url(../images/card-lot-03.jpg);
  background-size: cover;
}

.lots_heading {
  font-weight: 700;
  font-size: 40px;
  text-transform: uppercase;
  color: #000;
  font-family: "Raleway", sans-serif;
  padding-left: 61px;
  padding-bottom: 27px;
  margin-top: -7px;
}

.look_more {
  font-size: 20px;
  width: 240px;
  height: 25px;
  margin-left: 61px;
  margin-top: 31px;
  font-family: "Raleway", sans-serif;
  letter-spacing: 0.2px;
}

.look_more a {
  text-decoration: none;
  border-bottom: 1px solid #000;
  padding-bottom: 1px;
}

.about {
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: start;
  gap: 20px;
  padding-top: 152px;
  padding-left: 23px;
}

.about-header {
  display: grid;
  grid-template-rows: auto auto;
  align-items: start;
}

.left-column {
  display: flex;
  justify-content: center;
  padding-left: 47px;
}

.logo-container {
  width: 240px;
  height: 240px;
  background-color: black;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.white-logo {
  width: 148px;
  height: 114px;
  transform: translateY(2px);
}

.about-title {
  font-weight: 700;
  font-size: 40px;
  text-transform: uppercase;
  color: #000;
  font-family: "Raleway", sans-serif;
  height: 49px;
  width: 300px;
  padding-top: 3px;
  padding-bottom: 97px;
}

.about_text_section {
  width: 693px;
  height: 449px;
  margin-left: 52px;
  position: relative;
  padding-top: 99px;
  padding-bottom: 174px;
}

.about_text_about_text {
  margin-bottom: 15px;
  padding-bottom:10px;
  font-weight: 400;
  font-size: 20px;
  line-height: 120%;
  color: #000;
  height: 120px;
  width: 690px;
  font-family: "Raleway", sans-serif;
}

footer {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.footer-left,
.footer-center,
.footer-right {
  flex: 1;
  min-width: 150px;
}

.footer-left {
  display: flex;
  flex-direction: column;
  width: 264.57px;
  transform: translate(-790px, 22px);
  margin-left: 30px;
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 135%;
  font-style: normal;
}

.footer-address {
  list-style: none;
}

.footer-address li {
  margin-bottom: 1px;
}

.footer-center {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 0;
  text-align: center;
  line-height: 0.7;
  font-style: normal;
  transform: translate(302px, 21px);
}

ul a {
  text-decoration: none;
}

.footer_loots {
  display: inline-block;
  border-bottom: 1.5px solid black;
  width: 149px;
  padding-bottom: 3px;
}

.footer_auc {
  display: inline-block;
  border-bottom: 1.5px solid black;
  width: 108px;
  padding-bottom: 3px;

}

.footer-center ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer-center li {
  margin-bottom: 7px;
  margin-top: 5px;
  margin-left: 105px;
  font-size: 18px;
  font-weight: 400;
  font-family: "Raleway", sans-serif;

}

.footer-right {
  display: flex;
  justify-content: flex-end;
  transform: translate(270px, 19px);
  padding-top: 0px;
  padding-right: 29px;
}

.social-links {
  display: flex;
  justify-content: flex-end;
  gap: 48px;
  list-style: none;
  margin: 0;
  padding-left: 0px;
  padding-top: 1px;

  width: 240px;
}

.footer_main {
  text-decoration: none;
}

.logo_mini_footer {
  width: 48px;
  height: auto;
}
